<%- include('layouts/header.ejs') -%>
<script>
</script>
<div class="container" style="margin-top: 50px;">
    <div class="header">
        <h1>Category Management</h1>
    </div>
    <div class="row" style="margin: 20px 0; text-align: right;">
        <div class="col-md-4">
            <div class="form-group">
                <input type="text" class="form-control" id="category">
            </div>
        </div>
        <div class="col-md-2">
            <button class="btn btn-primary" id="save">save</button>
        </div>
    </div>
    <div class="table row">
        <table class="table table-stripe">
            <thead>
                <th>Name</th>
                <th>Action</th>
            </thead>
            <tbody>
                <% categories.forEach(function(category){ %>
                    <tr>
                        <td>
                            <input type="text" class="form-control" value="<%= category.name %>">
                        </td>
                        <td>
                            <button class="btn btn-primary edit" data-id="<%= category.id %>">save</button>
                        </td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </div>
</div>
<script>
    $(function() {
        $("#save").click(function() {
            $.ajax({
                url: '/category/add',
                type: 'post',
                'data': {name: $("#category").val()},
                success: (res) => {
                    window.location.reload();
                },
                error: (err) => {

                }
            })
        });
        $(".edit").click(function() {
            $.ajax({
                url: '/category/edit',
                type: 'post',
                'data': {name: $(this).parent().prev().find("input").val(), id: $(this).data("id")},
                success: (res) => {
                    window.location.reload();
                },
                error: (err) => {

                }
            })
        })
    })
</script>
<%- include('layouts/footer.ejs') -%>